<div class="exhibition-container">

    <!-- HEADER -->
    <div class="header">

        <div class="title-section">
            <h1 class="title">{{name()}}</h1>
            <h3>{{place()}}</h3>
            <p class="dates">{{startDate | date}} - {{endDate | date}}</p>
        </div>

        <div class="right-section">
            <div class="amount">₹ {{totalSale()}}</div>
            <button class="add-btn" (click)="addInvoice()">+ Add Invoice</button>
            <!-- </div>

        <div class="right-section"> -->

            <button class="add-btn-expense" (click)="openExpenseModal()">+ Add Expense</button>
        </div>

    </div>

    <!-- TABS -->
    <div class="tabs">
        <button [class.active]="activeTab === 'invoices'" (click)="activeTab = 'invoices'">
            Invoices
        </button>

        <button [class.active]="activeTab === 'expenses'" (click)="activeTab = 'expenses'">
            Expenses
        </button>
    </div>

    <!-- TAB CONTENT -->

    <!-- INVOICES TABLE -->
    @if (activeTab === 'invoices') {
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Discount</th>
                    <th>Net</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invoice of paginatedExhibitions; trackBy: trackByInvoice">
                    <td>{{ invoice.invoiceNumber }}</td>
                    <td>{{ invoice.invoiceDate | date:'medium' }}</td>
                    <td>₹ {{ invoice.totalAmount }}</td>
                    <td>₹ {{ invoice.discountAmount }}</td>
                    <td>₹ {{ invoice.netAmount }}</td>
                   <td ><span [ngClass]="{
                                'cash-bg': invoice.paymentMode === 'cash',
                                'online-bg': invoice.paymentMode === 'online'
                                }"> {{invoice.paymentMode}}</span>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="pagination" *ngIf="totalPages > 1">

        <button (click)="prevPage()" [disabled]="currentPage === 1">
            Prev
        </button>

        <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="goToPage(i + 1)"
            [class.active]="currentPage === i + 1">

            {{i + 1}}

        </button>

        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
            Next
        </button>

    </div>
    }

    <!-- EXPENSE TABLE -->
    @if (activeTab === 'expenses') {
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Expense</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of paginatedExpenses">
                    <td>{{ expense.createdDate | date :'medium' }}</td>
                    <td>{{ expense.name }}</td>
                    <td>₹ {{ expense.cost }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination-expenses" *ngIf="totalExpensePages > 1">

        <button (click)="prevExpensePage()" [disabled]="currentExpensePage === 1">
            Prev
        </button>

        <button *ngFor="let page of [].constructor(totalExpensePages); let i = index" (click)="goToExpensePage(i + 1)"
            [class.active]="currentExpensePage === i + 1">

            {{i + 1}}

        </button>

        <button (click)="nextExpensePage()" [disabled]="currentExpensePage === totalExpensePages">
            Next
        </button>

    </div>
    }

</div>

<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
        <app-create-invoice [exhibitionId]="id" (modalClose)="closeModal($event)"></app-create-invoice>
    </div>
</div>

<div *ngIf="showExpenseModal">
    <app-create-expense [exhibitionId]="id" (closeExpenseModal)="handleClose($event)">
    </app-create-expense>
</div>