<mat-sidenav-container class="container">

    <!-- Sidebar -->
    <mat-sidenav #sidenav class="sidebar" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">

        <app-side-nav></app-side-nav>

    </mat-sidenav>

    <!-- Main Content -->
    <mat-sidenav-content>

        <!-- Top Navbar -->
        <div class="topbar">

            <button mat-icon-button (click)="toggleSidebar()">
                <mat-icon>menu</mat-icon>
            </button>

            <h2 class="app-title">HoyaClothingCo</h2>

            <button class="logout-btn" (click)="logout()">Logout</button>

        </div>

        <!-- Page Content -->
        <div class="content">

            <router-outlet></router-outlet>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>