<div class="page">


    <div class="table-wrapper">

        <table class="exhibition-table">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Place</th>
                    <th>Start Date</th>

                    <th>Days</th>
                    <th>Cost</th>
                    <th>Expense</th>
                    <th>Net</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let exhibition of paginatedExhibitions; trackBy: trackByCode" class="row-entry">

                    <td (click)="detailExhibition(exhibition)" class="name">{{exhibition.name}}</td>

                    <td>{{exhibition.place}}</td>

                    <td>{{exhibition.startDate | date}}</td>
                    <td>{{exhibition.numberOfDays}}</td>

                    <td class="price">
                        ₹{{exhibition.bookingCost}}
                    </td>

                    <td class="price">

                        ₹{{exhibition.totalExpense}}

                    </td>

                    <td>

                        ₹{{exhibition.netAmount}}

                    </td>
                    <td>

                        <mat-icon matTooltip="Details" class="icon"
                            (click)="detailExhibition(exhibition)">info</mat-icon>



                        <mat-icon matTooltip="Overview" class="icon"
                            (click)="GetExhibitionOverview(exhibition)">dashboard</mat-icon>
                        <mat-icon matTooltip="Refund" class="icon" (click)="refund(exhibition)">undo</mat-icon>

                    </td>

                </tr>

            </tbody>

        </table>



        <div class="pagination" *ngIf="totalPages > 1">

            <button (click)="prevPage()" [disabled]="currentPage === 1">
                Prev
            </button>

            <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="goToPage(i + 1)"
                [class.active]="currentPage === i + 1">

                {{i + 1}}

            </button>

            <button (click)="nextPage()" [disabled]="currentPage === totalPages">
                Next
            </button>

        </div>
    </div>
</div>


<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">

        <div class="summary-modal">
            <div class="header">
                <h2>Exhibition Summary</h2>
                <span class="close" (click)="close()">×</span>
            </div>

            <div class="summary-list">
                <div><span>Total Sales</span><strong>₹ {{data.totalSales}}</strong></div>
                <div><span>Total Expense</span><strong>₹ {{data.totalExpense}}</strong></div>
                <div><span>Total Discount</span><strong>₹ {{data.totalDiscount}}</strong></div>
                <div><span>Additional Amount</span><strong>₹ {{data.additional}}</strong></div>
                <div><span>Total Items</span><strong>{{data.totalItemSelled}}</strong></div>
                <div><span>Net Amount</span><strong>₹ {{data.netAmount}}</strong></div>
            </div>

            <div class="profit">
                Profit: ₹ {{data.profit}}
            </div>
        </div>



    </div>
</div>


<!-- Refund Button -->

<!-- Modal -->
@if (isRefundOpen) {
<app-refund-modal [isOpen]="isRefundOpen" (close)="closeRefund()" (submitRefund)="handleRefund($event)">
</app-refund-modal>
}