<div class="form-page">

    <button type="button" class="close-btn" (click)="close()">
        ×
    </button>

    <h2>Add Expense</h2>

    <form [formGroup]="expenseForm" (ngSubmit)="saveExpense()">

        <div class="form-group">
            <label>Expense Name</label>

            <input type="text" formControlName="name" placeholder="Enter expense name">

            <small class="error" *ngIf="expenseForm.get('name')?.touched && expenseForm.get('name')?.invalid">
                Expense name is required
            </small>
        </div>

        <div class="form-group">
            <label>Amount (₹)</label>

            <input class="amount-input" type="number" formControlName="amount" placeholder="Enter amount">

            <small class="error" *ngIf="expenseForm.get('amount')?.touched && expenseForm.get('amount')?.invalid">
                Please enter a valid amount
            </small>
        </div>

        <div class="form-group">
            <label>Remark</label>

            <textarea rows="4" formControlName="remark" placeholder="Enter remarks (optional)">
            </textarea>
        </div>

        <button class="save-btn" type="submit" [disabled]="expenseForm.invalid">

            Save Expense

        </button>

    </form>

</div>