<div class="page">

    <div class="search-row">
        <!-- Search -->
        <input type="text" placeholder="Search by name, code, color..." (input)="onSearch($event.target.value)" />

        <!-- Dropdown -->
        <select #sizeSelect (change)="onFilterChange(sizeSelect.value)">
            <option value="">All</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="2XL">2XL</option>
            <option value="3XL">3XL</option>
        </select>
    </div>

    <div *ngIf="products().length === 0" class="loading">
        Loading products...
    </div>

    <div class="orders-card" *ngIf="products().length > 0">
        <div class="order-item" *ngFor="let product of paginatedProducts(); trackBy: trackByCode">
            <div class="left">
                <div style="display: flex;">
                    <button class="edit-btn">
                        <i class="edit-btn" (click)="editProduct(product)">✎</i>
                    </button>
                    <div class="name">{{ product.code }} - {{ product.name}} </div>
                </div>
                <div class="items"> <b style="font-weight: bolder">
                        {{product.totalQuantity}}</b>
                    Item(s) </div>
            </div>
            <div class="color-badge">
                {{ product.color }}
            </div>
            <div class="right">
                <div class="amount">₹{{ product.sellingPrice }}</div>

                <div class="time">
                    <ng-container *ngFor="let s of product.sizes">
                        <span *ngIf="s.quantity > 0" class="size-badge">
                            {{s.size}}
                        </span>
                    </ng-container>
                </div>
            </div>



        </div>
    </div>
    <!-- <div *ngIf="products().length > 0" class="table-wrapper">

        <table class="inventory-table">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Color</th>
                    <th>Selling Price</th>
                    <th>Total Qty</th>
                    <th>Available Sizes</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let product of paginatedProducts(); trackBy: trackByCode">
                    <td class="name">{{product.name}}</td>
                    <td>{{product.code}}</td>

                    <td>
                        <span class="color-badge">
                            {{product.color}}
                        </span>
                    </td>

                    <td class="price">₹{{product.sellingPrice}}</td>

                    <td>
                        <span class="qty-badge">
                            {{product.totalQuantity}}
                        </span>
                    </td>

                    <td>
                        <ng-container *ngFor="let s of product.sizes">
                            <span *ngIf="s.quantity > 0" class="size-badge">
                                {{s.size}}
                            </span>
                        </ng-container>
                    </td>
                </tr>

            </tbody>

        </table>

    </div> -->

    <!-- ❌ NO RESULT -->
    <div *ngIf="filteredProducts().length === 0 && products().length > 0" class="no-data">
        No products found
    </div>

    <!-- ✅ PAGINATION -->
    <div class="pagination" *ngIf="totalPages() > 1">

        <button (click)="prevPage()" [disabled]="currentPage() === 1">
            Prev
        </button>

        <!-- Only current page -->
        <span class="page-indicator">
            {{ currentPage() }} / {{ totalPages() }}
        </span>

        <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">
            Next
        </button>

    </div>


</div>


<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
        <app-create-product [product]="product" (productAdded)="closeModal($event)"></app-create-product>
    </div>
</div>