.page{
  width:100%;
  color:white;
}

/* Header */

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:10px;
  flex-wrap:wrap;
  color:#020617;
}


.pagination button {
  padding: 6px 12px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 6px;
}

.pagination button:hover {
  background: #ddd;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.page-indicator {
  font-weight: 600;
  padding: 6px 10px;
  color: #000000;
}


.search-box {
  margin-bottom: 15px;
}

.search-box input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.no-data {
  text-align: center;
  margin-top: 20px;
  color: gray;
}



.color-badge{
  background:#1e293b;
  padding:4px 10px;
  border-radius:6px;
  font-size:12px;
}
/* latest design for ui */


.orders-card {
  background: #f9f9f9;
  padding: 16px;
  border-radius: 12px;
  width: 100%;
  /* margin: auto; */
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #444;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.order-item:last-child {
  border-bottom: none;
}

.left .name {
  font-weight: 600;
  font-size: 16px;
  color:#020617;
}

.left .items {
  font-size: 14px;
  color: #020617;
}

.right {
  text-align: right;
}
.color{
  color: #020617;
  font-weight: 500;
}
.right .amount {
  font-weight: 600;
  font-size: 14px;
  color: #22c55e;
}

.right .time {
  font-size: 12px;
  color: #999;
}


@media (max-width: 480px) {
  .orders-card {
    padding: 12px;
  }

  .order-item {
    padding: 8px 0;
  }

  .left .name,
  .right .amount {
    font-size: 13px;
  }

  .left .items,
  .right .time {
    font-size: 11px;
  }

  .color-badge{
   font-size: 11px;
}
}

