/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

.toast-success {
  background-color: #22c55e !important;
}

.toast-error {
  background-color: #ef4444 !important;
}

.toast-message {
  font-size: 14px;
}

*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Inter, Arial, sans-serif;
  background:#020617;
}