<div class="page">

    <div class="search-row">
        <!-- Search -->
        <input class="search-input" type="text" placeholder="Search by name, code, color..." (input)="onSearch($event.target.value)" />

        <!-- Dropdown -->
        <select #sizeSelect (change)="onFilterChange(sizeSelect.value)">
            <option value="">All</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="2XL">2XL</option>
            <option value="3XL">3XL</option>
        </select>

        <div>


            <button type="button" class="filter-icon-btn" (click)="toggleFilters()">

                <mat-icon>filter_list</mat-icon>

                <span class="filter-count" *ngIf="
                selectedMaterial() ||
                selectedSetType() ||
                selectedWorkType()
            ">

                    {{
                    (selectedMaterial() ? 1 : 0) +
                    (selectedSetType() ? 1 : 0) +
                    (selectedWorkType() ? 1 : 0)
                    }}

                </span>

            </button>
        </div>


        <div class="filters" *ngIf="showFilters">

            <!-- Search -->



            <!-- Material -->
            <select [ngModel]="selectedMaterial()" (ngModelChange)="selectedMaterial.set($event); currentPage.set(1)">

                <option value="">All Materials</option>

                <option *ngFor="let material of materialTypes" [value]="material">

                    {{ material }}

                </option>

            </select>


            <!-- Set Type -->
            <select [ngModel]="selectedSetType()" (ngModelChange)="selectedSetType.set($event); currentPage.set(1)">

                <option value="">All Set Types</option>

                <option *ngFor="let type of setTypes" [value]="type">

                    {{ type }}

                </option>

            </select>


            <!-- Work Type -->
            <select [ngModel]="selectedWorkType()" (ngModelChange)="selectedWorkType.set($event); currentPage.set(1)">

                <option value="">All Work Types</option>

                <option *ngFor="let work of workTypes" [value]="work">

                    {{ work }}

                </option>

            </select>


            <!-- Clear -->
            <button type="button" (click)="clearFilters()">

                Clear Filters

            </button>

        </div>

    </div>


    <div *ngIf="products().length === 0" class="loading">
        Loading products...
    </div>

    <div class="orders-card" *ngIf="products().length > 0">
        <div class="order-item" *ngFor="let product of paginatedProducts(); trackBy: trackByCode">
            <div class="left">
                <div style="display: flex;">
                    <button class="edit-btn">
                        <i class="edit-btn" (click)="editProduct(product)">✎</i>
                    </button>
                    <div class="name" [routerLink]="['/products', product.id]">{{ product.code }} - {{ product.name}}
                    </div>
                </div>
                <div class="items"> <b style="font-weight: bolder">
                        {{product.totalQuantity}}</b>
                    Item(s) </div>
            </div>
            <div class="color-badge">
                {{ product.color }}
            </div>
            <div class="right">
                <div class="amount">₹{{ product.sellingPrice }}</div>

                <div class="time">
                    <ng-container *ngFor="let s of product.sizes">
                        <span *ngIf="s.quantity > 0" class="size-badge">
                            {{s.size}} ({{s.quantity}})
                        </span>
                    </ng-container>
                </div>
            </div>



        </div>
    </div>


    <!-- ❌ NO RESULT -->
    <div *ngIf="filteredProducts().length === 0 && products().length > 0" class="no-data">
        No products found
    </div>

    <!-- ✅ PAGINATION -->
    <div class="pagination" *ngIf="totalPages() > 1">

        <button (click)="prevPage()" [disabled]="currentPage() === 1">
            Prev
        </button>

        <!-- Only current page -->
        <span class="page-indicator">
            {{ currentPage() }} / {{ totalPages() }}
        </span>

        <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">
            Next
        </button>

    </div>


</div>


<div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
        <app-create-product [product]="product" (productAdded)="closeModal($event)"></app-create-product>
    </div>
</div>